{% if not products %}
<p class="text-gray-800 text-center mt-4">
    Nenhum produto cadastrado, você pode cadastrar um clicando
    <span hx-on:click="toggleHidden('#edit-category-dialog')"
        class="text-orange-600 font-semibold underline cursor-pointer">aqui</span>.
</p>
{% else %}
<ul class="list-disc list-inside mt-4 space-y-2">
    {% for product in products %}
    <li class="text-gray-700">{{ product.name }}</li>
    {% endfor %}
</ul>
{% endif %}

<dialog id="edit-category-dialog"
    class="hidden w-screen h-screen bg-orange-200/30 absolute top-0 backdrop-blur-xs flex items-center justify-center">
    <div class="w-7/8 h-7/8 max-w-3xl bg-orange-300 rounded-t-lg shadow-md flex flex-col">
        <div class="w-full flex justify-between items-center bg-zinc-800 text-zinc-200 p-4 rounded-t-lg">
            <h3 class="text-center font-semibold text-md">{{category.name}} </h3>
            <button id="closeBtn"
                class="self-end cursor-pointer text-xl p-1 hover:scale-130 transition-transform duration-300 ease-in-out self-end"
                hx-on:click="toggleHidden('#edit-category-dialog')">✖
            </button>
        </div>

        <form hx-post="/api/v1/products/" hx-on::after-request="if(event.detail.successful) this.reset()"
            hx-target="#category-itens" class="flex flex-col p-8" id="category-form">
            <div class="flex w-full gap-2 items-end justify-between">
                <div class="flex flex-col w-3/4">
                    <label for="item-name-input" class="mb-2 text-sm font-medium text-gray-700">Nome:</label>
                    <input type="text" id="item-name-input" name="name" required
                        class="p-2 border bg-white border-2 border-gray-800 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                </div>
                <div class="w-1/4 flex flex-col">
                    <label for="item-price-input" class="mb-2 text-sm font-medium text-gray-700">Preço:</label>
                    <input type="number" step="0.01" id="item-price-input" name="price" required
                        class="p-2 border bg-white border-2 border-gray-800 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                </div>
                <input type="hidden" name="category_id" value="{{ category.id }}">

            </div>
            <div class="flex gap-4 mt-4">
                <!-- Description Text Area -->
                <div class="flex flex-col w-3/4">
                    <label for="description" class="mb-2 text-sm font-medium text-gray-700">Descrição:</label>
                    <textarea id="description" name="description" rows="8"
                        class="p-2 h-full border bg-white border-2 border-gray-800 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 resize-none"
                        placeholder="Digite a descrição do item..."></textarea>
                </div>

                <!-- Image Selector and Preview -->
                <div class="flex flex-col items-center w-1/4 ">
                    <label for="item-image-input" class="mb-2 text-sm font-medium text-gray-700">
                        Selecione a imagem
                    </label>
                    <div hx-on:click="htmx.find('#item-image-input').click()"
                        class="flex flex-col items-center justify-center h-full w-full border-2 border-dashed border-gray-300 rounded-lg bg-white">
                        <img id="item-image-preview"
                            src="https://asrcslgoqgtuqtuwczjv.supabase.co/storage/v1/object/public/static//selection_18684621.png"
                            class="size-12 object-cover rounded">
                    </div>

                    <input hx-on:change="selectImage(this)" type="file" id="item-image-input" name="image"
                        accept="image/png" class="hidden">
                </div>
            </div>

            <button type="submit"
                class="w-full self-end mt-2 px-6 py-2 bg-blue-500 text-white rounded shadow-md hover:bg-blue-600 transition-colors duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400 cursor-pointer text-xs font-semibold h-[44px]">
                ADICIONAR
            </button>
        </form>

        <div id="category-itens" hx-get="/api/v1/categories/{{category.id}}/products" hx-target="this" hx-trigger="load"
            hx-headers='{"source": "category-itens"}'
            class="w-full h-full flex flex-col gap-2 p-8 rounded-b-lg overflow-x-auto">
        </div>
    </div>
</dialog>

<script>
    document.getElementById('category-form').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the default form submission
        const formData = new FormData(this);
        for (const [key, value] of formData.entries()) {
            console.log(`${key}: ${value}`);
        }
    });
</script>