<section id="categories" hx-get="/api/v1/categories/" hx-target="this" hx-trigger="load, categoriesUpdated from:body"
    hx-headers='{"source": "categories"}'
    class="p-4 w-full flex flex-nowrap overflow-y-hidden overflow-x-auto items-center  justify-center">
</section>

<section id="category-item" class="grow flex flex-col items-center justify-center">
    <p>
        Nenhuma categoria selecionada.
    </p>
</section>

<dialog id="new-category-dialog"
    class="hidden w-screen h-screen bg-orange-200/30 absolute top-0 backdrop-blur-xs flex items-center justify-center">
    <div class="w-7/8 h-7/8 max-w-3xl bg-orange-300 rounded-t-lg shadow-md flex flex-col">
        <div class="w-full flex justify-between items-center bg-zinc-800 text-zinc-200 p-4 rounded-t-lg">
            <h3 class="text-center font-semibold text-md">CATEGORIAS</h3>
            <button id="closeBtn"
                class="self-end cursor-pointer text-xl p-1 hover:scale-130 transition-transform duration-300 ease-in-out self-end"
                hx-on:click="toggleNewCategoriesModal()">✖
            </button>
        </div>

        <form hx-post="/api/v1/categories" hx-on::after-request="if(event.detail.successful) this.reset()"
            hx-target="#categories_new" class="flex flex-col p-8" id="category-form">
            <label for="icon_url" class="mb-2 text-sm font-medium text-gray-700">Selecione o
                Icone:</label>
            <input type="text" id="icon_url" name="icon_url" class="hidden">
            <div class="flex flex-col w-full">
                <div id="icon-select" hx-get="/icons" hx-target="this" hx-trigger="load delay:1s" name="icon_url"
                    class="flex flex-1 flex-wrap p-2 overflow-x-auto items-center justify-center gap-2">
                    <div
                        class="htmx-indicator size-6 border-4 border-gray-300 border-t-blue-500 rounded-full animate-spin">
                    </div>
                </div>
            </div>
            <div class="flex w-full gap-2 items-end justify-between">
                <div class="flex flex-col w-full">
                    <label for="category-input" class="mb-2 text-sm font-medium text-gray-700">Nome:</label>
                    <input type="text" id="category-input" name="name" required
                        class="p-2 border bg-white border-2 border-gray-800 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                </div>

                <button type="submit"
                    class="max-w-sm self-end mt-2 px-6 py-2 bg-blue-500 text-white rounded shadow-md hover:bg-blue-600 transition-colors duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400 cursor-pointer text-xs font-semibold h-[44px]">
                    ADICIONAR
                </button>
            </div>
        </form>

        <div id="categories_new" hx-get="/api/v1/categories" hx-target="this" hx-trigger="load"
            hx-headers='{"source": "categories_new"}'
            class="w-full h-full flex flex-col gap-2 p-8 rounded-b-lg overflow-x-auto">
        </div>
    </div>
</dialog>