<!-- templates/selected_category_new_products.html -->
{% import "components/delete_btn.html" as d %}
{% if not products %}
<p class="text-gray-800 text-center mt-4">
    Nenhum produto cadastrado
</p>
{% else %}
<div class="list-disc list-inside mt-4 space-y-2">
    {% for product in products %}
    <div class="flex items-center justify-between bg-gray-100 p-2 rounded shadow">
        <div class="flex items-center gap-2">
            <img src="{{product.image_url}}" alt="{{product.name}}" class="size-8 rounded-full">
            <span class="text-sm font-medium text-gray-800">{{product.name}}</span>
        </div>
        {{ d.delete_button("/api/v1/products/" ~ product.id) }}
    </div>
    {% endfor %}
</div>
{% endif %}