{% if not products %}
<p class="text-gray-800 text-center mt-4">
    Nenhum produto cadastrado, você pode cadastrar um clicando
    <span hx-on:click="toggleHidden('#edit-category-dialog')"
        class="text-orange-600 font-semibold underline cursor-pointer">aqui</span>.
</p>
{% else %}
<button hx-on:click="toggleHidden('#edit-category-dialog')"
    class="p-2 bg-zinc-800 text-white rounded shadow-md hover:bg-red-600 transition-colors duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-red-400 self-end">
    <img src="https://asrcslgoqgtuqtuwczjv.supabase.co/storage/v1/object/public/static//setting_11970301.png"
        alt="Settings" class="size-8 object-cover rounded-full">
</button>

{% for product in products %}
<div class="flex w-full bg-gray-100 p-4 gap-8 rounded shadow justify-between gap-2 self-center ">
    <img src="{{product.image_url}}" alt="{{product.name}}" class="w-24 h-32 object-cover rounded shadow-lg">
    <div class="grow grid grid-cols-3 grid-rows-3 gap-2">
        <div class="col-span-2 row-span-1 flex items-center">
            <span class="text-lg font-bold text-gray-900">{{product.name}}</span>
        </div>
        <div class="col-span-1 row-span-1 flex items-center justify-end">
            <span class="text-sm text-gray-600">R$ {{product.price}}</span>
        </div>
        <div class="col-span-3 row-span-2">
            <span class="text-base font-medium text-gray-700 truncate">{{product.description}}</span>
        </div>
    </div>
</div>

</div>
{% endfor %}
{% endif %}