<!-- templates/menu_categories_list.html -->
{% if not categories %}
<p class="text-sm max-w-sm text-center text-gray-700">
    Parece que você ainda não tem nenhuma categoria cadastrada. Tente clicar <span
        hx-on:click="toggleNewCategoriesModal()"
        class="font-semibold text-orange-600 cursor-pointer hover:underline">aqui</span>
    para cadastrar.
</p>
{% else %}
<div hx-on:click="toggleNewCategoriesModal()"
    class="size-25 p-2 flex flex-col items-center justify-center hover:border-2 hover:border-orange-600 rounded cursor-pointer shrink-0">
    <img src="https://asrcslgoqgtuqtuwczjv.supabase.co/storage/v1/object/public/category-icons//add_2377839.png"
        alt="Nova Categoria" class="size-15 rounded cursor-pointer p-2 object-cover">
    <span class="text-xs text-center font-semibold">Categoria</span>
</div>
{% for category in categories %}
<div id="{{ category.id }}" hx-get="/api/v1/categories/{{category.id}}" hx-target="#selected-category"
    hx-trigger="click" hx-on:click="onCategorySelect(this)"
    class="size-25 p-2 flex flex-col items-center justify-center hover:border-2 hover:border-orange-600 rounded cursor-pointer shrink-0">
    <img src="{{ category.icon_url }}" alt="{{ category.name }}"
        class="size-15 rounded cursor-pointer p-2 object-cover">
    <span class="text-xs text-center font-semibold">{{ category.name }}</span>
</div>
{% endfor %}
{% endif %}